<div class="container">
  <h1>City Search Form</h1>
  <div class="form-group">
    <form (ngSubmit)="onSubmit()" #cityForm="ngForm">
      <input
        type="text"
        class="city-input"
        id="cityName"
        placeholder="search city"
        required
        [(ngModel)]="searchTerm"
        name="cityName"
        #name="ngModel"
      />
      <button type="submit" class="city-button">Search</button>
    </form>
  </div>
  <div class="results">
    <div
      *ngFor="
        let city of cities | paginate : { itemsPerPage: 6, currentPage: page }
      "
    >
      <h2>{{ city.cityName }}</h2>
      <p>Count: {{ city.count }}</p>
    </div>
  </div>
  <div id="pagination">
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>
</div>
